@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(103, 36, 78);
    color: rgb(224, 206, 217);

    font-family: "Raleway";

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    margin: 0;
}